<header>
  <div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <a href="/home" class="navbar-brand"> 
            <img id="logo" src="/assets/Rectangle 5.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <img id="logo" src="/assets/icon_nav.png">
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#inicio">Início</a>
                <a class="nav-item nav-link" href="/home/#sobre-mim">Sobre Mim</a>
                <a class="nav-item nav-link" href="https://api.whatsapp.com/send?phone=5585991218289&text=Olá,%20gostaria%20de%20anunciar%20meu%20imóvel%20com%20você.">Anunciar</a>
                <a class="nav-item nav-link" href="/home/#fale-comigo">Fale Comigo</a>
                <a class="nav-item nav-link" href="/financas" target="_blank">Simulação</a>
            </div>
        </div>
    </nav>
  </div>
</header>