<%- include ('./../elements/header.ejs') %>

    <body>
        <%- include ('./../elements/navbar.ejs') %>
             <div class="fundo-azul text-center" id="inicio">
                <div class="container-fluid center-me">
                    <div class="row text-center">
                        <div class="col-md-12 text-center">
                            <label style="font-size:35px; font-weight:600; color: #fff;">Aqui pode fazer uma simulação do
                                financiamento com seu banco</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid py-3 pt-md-5 pb-md-4 mx-auto text-left">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-md-2 py-3">
                    </div>
                </div>
            </div>
            <div class="album py-2">
                <div class="container">
                    <div class="row d-flex justify-content-around">
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_banrisul.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                <a class="text-button" target="_blank" href="https://www.banrisul.com.br/brz/link/brzwswhn.html"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary"  type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_bb.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" target="_blank" href="https://www42.bb.com.br/portalbb/imobiliario/creditoimobiliario/simular,802,2250,2250.bbx"> <div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_bradesco.jpg" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" target="_blank" href="https://banco.bradesco/html/classic/produtos-servicos/emprestimo-e-financiamento/encontre-seu-credito/simuladores-imoveis.shtm?gclid=CjwKCAjw3qGYBhBSEiwAcnTRLt2116d_3v5UcdBUHX4YqDW3R5Iv3VA914pE3LzjQAEWyoVxmT9n0BoCwcAQAvD_BwE&gclsrc=aw.ds"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_caixa.png" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" target="_blank" href="http://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="album py-2">
                <div class="container">
                    <div class="row">                        
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/banco_itau.png" href="https://www.itau.com.br/emprestimos-financiamentos/credito-imobiliario/simulador/" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" target="_blank" href="https://www.itau.com.br/emprestimos-financiamentos/credito-imobiliario/simulador/"><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 box-shadow">
                                <img src="../assets/santander.png" class="card-img-top"
                                    style="height: 225px; width: 100%; display:block" alt="">
                                    <a class="text-button" target="_blank" href="https://www.santander.com.br/creditos-e-financiamentos/para-sua-casa/credito-imobiliario?gclid=CjwKCAjw3qGYBhBSEiwAcnTRLklehHPDo9QVtkFXx_zWhs37HpreZt81wkXVTY-8vTHADHhibHIDtBoC-O8QAvD_BwE"></a><div class="card-body">
                                    
                                    <div class="row">
                                        
                                        <button class="btn btn-secondary" type="button" id="btnMaisInformacoes"
                                            aria-haspopup="true" aria-expanded="false">Mais Informações</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://api.whatsapp.com/send?phone=5585991218289&text=Texto%20aqui" target="_blank"
                    style="position:fixed;bottom:20px;right:30px;">
                    <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1" viewBox="0 0 512 512"
                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
                            fill="#4CAF50" />
                        <path
                            d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
                            fill="#FAFAFA" />
                    </svg>
                </a>
                <%- include ('./../elements/footer.ejs') %>
    </body>
